* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1.2rem;
    color:whitesmoke;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    cursor: pointer;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.navbar ul li::after {
    content:'';
    height: 3px;
    width: 0;
    background: rgb(190, 143, 190);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
}
.navbar ul li:hover::after {
    width:100%;
}

.content {
    padding-top: 5em;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

.textcontent {

    text-align: center;
    justify-content: center;
    border: 2px solid rgb(190, 143, 190);
    border-radius: 200em;
    width: 900px;
    padding: 20px; 
}

.bigcontainer {
    width: 100%;
    height: 10em;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    background-color: black;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid whitesmoke; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke; }
  }